<div class="navigation wrapper-container" fxLayout="row">
    <img class="budapest-logo" src="/assets/images/BP-logo-white.png" alt="budapest-logo">
    <nav fxLayout="row">
        <ol fxLayout="row">
            <li>
                Lorem ipsum
            </li>
            <li>
                Dolorsit
            </li>
            <li>
                Consectetur
            </li>
            <li>
                En <img src="/assets/icons/chevron-down.svg">
            </li>
        </ol>
    </nav>
</div>
