.navigation {
    padding-top: 13px;
    padding-bottom: 13px;
    position: sticky;
    top: 0px;
    margin-bottom: -62px;
    .burger-menu {
        display: none;
    }
    .budapest-logo {
        height: fit-content;
        cursor: pointer;
    }
    nav {
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        ol {

            @keyframes mymove {
                from {top:60px; opacity: 0;}
                to {top:70px; opacity: 1}
            }

            @-webkit-keyframes mymove /* Safari and Chrome */ {
                from {top:60px; opacity: 0;}
                to {top:70px; opacity: 1;}
            }
        }
    }

    .navigation__dropdown {
        animation:mymove 3s ease-out forwards;
        animation-iteration-count:1;
        /* Safari and Chrome */
        -webkit-animation:mymove 1s;
        -webkit-animation-iteration-count:1;
        display: block;
        position: absolute;
        top: 70px;
        background:white;
        border: 1px solid #ECF0FF;
        border-radius: 6px;
        // width: 696px;
        // height: 266px;
        // margin-left: -80px;
        &:after {
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: white;
            border-width: 12px;
            margin-left: -12px;
            left: 130px;
        }
        .submenu--item {
            width: 300px;
            height: 84px;
            margin-left: 30px;
            padding-top: 23px;
            padding-bottom: 19px;
            img {
                width: 44px;
            }
            h4:hover {
                font-weight: bold;
            }
        }
        .divider {
            border-bottom: 1px solid #DFE3E8;
        }
        .button--menu {
            width: 100%;
            padding: 0;
        }
    }
    .lorem-dropdown {
        width: 696px;
        height: 266px;
        margin-left: -80px;
    }
    .language-dropdown {
        width: 168px;
        height: 166px;
        margin-left: -120px;
        h4 {
            padding-left: 36px;
            padding-bottom: 6px;
            margin-top: 9px;
            border-bottom: 1px solid #DFE3E8;
            &:hover {
                font-weight: bold;
            }
        }
        .last {
            border: none;
        }
    }
    .profile-dropdown {
        height: 126px;
        &:after {
            left: 138px;
        }
    }

    .navigation__button-container {
        padding-top: 7px;
        height: 36px;
        .login-pic {
            margin-top: -4px;
            height: 40px;
            cursor: pointer;
        }
    }

}

.fade-in {
    //background-color: #014593;
    background-color: black;
    transition: background-color 1s linear; 
    -moz-transition: background-color 1s linear;  
    -webkit-transition: background-color 1s linear; 
    -ms-transition: background-color 1s linear;
}

.fade-out {
    background-color: transparent;
    transition: background-color 1s linear; 
    -moz-transition: background-color 1s linear;  
    -webkit-transition: background-color 1s linear; 
    -ms-transition: background-color 1s linear;
}

.slide-in {
    transition: 0.5s;
    left: 0 !important;
}

@media only screen and (max-width: 1024px) {
    .navigation {
        .burger-menu {
            display: inline-block;
            margin-top: 13px;
            margin-right: 10px;
            height: 16px;
            cursor: pointer;
        }
        .burger-container {
            position: absolute;
            height: 100vh;
            min-height: 728px;
            overflow: scroll;
            width: 510px;
            background-color: white;
            top: 0;
            left: -510px;
            transition: 0.5s;
        }
        nav {
            display: none !important;
        }
        .navigation__button-container {
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            flex: 1 1 0%;
            place-content: stretch flex-end;
            align-items: stretch;
        }
    }    
}

@media only screen and (max-width: 375px) {

}
