<div class="navigation" [ngClass]="fadeStyle" fxLayout="row">
    <div class="wrapper-container">
        <a (clickOutside)="slideInMenu()" (click)="slideOutMenu()"
        class="burger-menu">
           <img src="/assets/icons/hamburger-menu.svg" alt="">
        </a>
        <div [ngClass]="slideStyle" class="burger-container" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <a href="#">
                    <img href="#" src="/assets/images/BP-logo-negative.svg" alt="bplogoyeahyeah">
                </a>
                <a class="close-menu">
                    <img (click)="slideInMenu()" src="/assets/icons/icn-close-negative.svg" alt="x-marks-the-spot">
                </a>
            </div>

            <div class="mobile-menu-view">
                <div class="menu-divider "></div>
                <div *ngIf="!isLoggedIn" fxLayout="row" fxLayoutAlign="center">
                    <button class="button--primary">Start Booking!</button>
                </div>
    
                <div *ngIf="isLoggedIn" fxLayout="column" fxLayoutGap="15px">
                    <div fxLayout="row">
                        <a class="login-pic login-pic--menu">
                            <img src="/assets/images/user-picture.png" alt="gurl">
                            <div *ngIf="isProfileDropdownOpened" class="navigation__dropdown profile-dropdown language-dropdown" fxLayout="column">
                                <h4>Dashboard</h4>
                                <h4>My Account</h4>
                            </div>
                        </a>
                        <div class="login-info--container" fxLayout="column">
                            <div class="login-text">Logged in as</div>
                            <div class="login-name">Barbara Palvin</div>
                        </div>
                    </div>
                    <div class="login-info" fxLayout="column" fxFlex>
                        <h4>Dashboard</h4>
                        <h4>My Account</h4>
                    </div>
                </div>
                <div class="menu-divider"></div>
            </div>



            <h3>Lorem ipsum</h3>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column" fxFlex="55">
                    <h4>Sed lacinia</h4>
                    <h4>Praesent consequat</h4>
                    <h4>Aenean lacinia viverra</h4>
                </div>
                <div fxLayout="column" fxFlex="45">
                    <h4>Praesent venenatis?</h4>
                    <h4>Etiam finibus molestie</h4>
                    <h4>Duis varius massa</h4>
                </div>
            </div>
            <div class="menu-divider"></div>
            <h3>Dolorsit</h3>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column" fxFlex="55">
                    <h4>Adipiscing elit</h4>
                </div>
                <div fxLayout="column" fxFlex="45">
                    <h4>Cogito ergo sum</h4>
                </div>
            </div>
            <div class="menu-divider"></div>
            <h3>Consectetur</h3>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column" fxFlex="100">
                    <h4>Grande punto</h4>
                </div>
            </div>
            <div class="menu-divider"></div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column" fxFlex="55">
                    <h4>Curabitur</h4>
                    <h4>Ut ullamcorper</h4>
                    <h4>Vestibulum</h4>
                    <h4>Orci varius</h4>
                </div>
                <div fxLayout="column" fxFlex="45">
                    <h4>Donec vel eros</h4>
                    <h4>Curabitur</h4>
                    <h4>Maecenas</h4>
                </div>
            </div>
            <div class="menu-divider"></div>
            <div class="menu-language"fxLayout="row" fxLayoutAlign="center">
                <div fxLayout="row">
                    <img src="/assets/icons/icn-pin.svg" alt="pinpoint">
                    <h4>English</h4>
                </div>
            </div>
            <div class="mobile-menu-view">
                <div class="menu-divider"></div>
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
                    <button class="button--menu" fxLayout="row" fxLayoutAlign="space-between">
                        <span>Chat</span>
                        <img src="/assets/icons/icn-bubble-negative.svg">
                    </button>
                    <button *ngIf="!isLoggedIn" (click)="login()" class="button--menu" fxLayout="row" fxLayoutAlign="space-between">
                        <span>Login</span>
                        <img src="/assets/icons/icn-login-negative.svg">
                    </button>
                </div>
            </div>
        </div>
        <a href="#"><img class="budapest-logo" src="/assets/images/BP-logo.svg" alt="budapest-logo"></a>
        <nav fxLayout="row" fxFlex>
            <ol fxLayout="row" fxLayoutGap="27px">
                <li
                (clickOutside)="isLoremOpened = false" (click)="isLoremOpened = true">
                    <a>Lorem ipsum</a>
                    <div *ngIf="isLoremOpened" class="navigation__dropdown lorem-dropdown">
                        <div fxLayout="row" class="navigation__dropdown__container">
                            <div fxLayout="column">
                                <div fxLayoutGap="18px" class="submenu--item divider" fxLayout="row">
                                    <img src="/assets/icons/icn-capitol.svg" alt="">
                                    <div fxLayout="column" fxFlex>
                                        <h4 fxFlex>Sed lacinia</h4>
                                        <div class="button--menu" fxFlex>Magna tincidunt venenatis</div>
                                    </div>
                                </div>
                                <div fxLayoutGap="18px" class="submenu--item divider" fxLayout="row">
                                    <img src="/assets/icons/icn-passport.svg" alt="">
                                    <div fxLayout="column">
                                        <h4>Praesent consequat</h4>
                                        <div class="button--menu">Felis sit amet vehicula molestie</div>
                                    </div>
                                </div>
                                <div fxLayoutGap="18px" class="submenu--item" fxLayout="row">
                                    <img src="/assets/icons/icn-ferris-wheel.svg" alt="">
                                    <div fxLayout="column">
                                        <h4>Aenean lacinia viverra </h4>
                                        <div class="button--menu">Class aptent taciti sociosqu ad</div>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="column">
                                <div fxLayoutGap="18px" class="submenu--item divider" fxLayout="row">
                                    <img src="/assets/icons/icn-motorcycle.svg" alt="">
                                    <div fxLayout="column">
                                        <h4>Praesent venenatis?</h4>
                                        <div class="button--menu">Quis enim faucibus nisi convallis</div>
                                    </div>
                                </div>
                                <div fxLayoutGap="18px" class="submenu--item divider" fxLayout="row">
                                    <img src="/assets/icons/icn-bikini.svg" alt="">
                                    <div fxLayout="column">
                                        <h4>Etiam finibus molestie</h4>
                                        <div class="button--menu">Curabitur lobortis pellentesque congue</div>
                                    </div>
                                </div>
                                <div fxLayoutGap="18px" class="submenu--item" fxLayout="row">
                                    <img src="/assets/icons/icn-cable-car-cabin.svg" alt="">
                                    <div fxLayout="column">
                                        <h4>Duis varius massa</h4>
                                        <div class="button--menu">Praesent suscipit venenatis justo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a>Dolorsit</a>
                </li>
                <li>
                    <a>Consectetur</a>
                </li>
                <li (clickOutside)="isLanguageOpened = false" (click)="isLanguageOpened = true">
                    En <img src="/assets/icons/chevron-down.svg">
                    <div *ngIf="isLanguageOpened" class="navigation__dropdown language-dropdown" fxLayout="column">
                        <h4>Deutch</h4>
                        <h4>English</h4>
                        <h4>Françias</h4>
                        <h4 class="last">Magyar</h4>
                    </div>
                </li>
            </ol>
        </nav>
        <div class="navigation__button-container" fxLayoutGap="18px" fxLayout="row">
            <button class="button--menu" fxLayout="row" fxLayoutAlign="space-between">
                <span>Chat</span>
                <img src="/assets/icons/icn-bubble-negative.svg">
            </button>
            <button *ngIf="!isLoggedIn" (click)="login()" class="button--menu" fxLayout="row" fxLayoutAlign="space-between">
                <span>Login</span>
                <img src="/assets/icons/icn-login-negative.svg">
            </button>
            <a class="button--menu--mobile">
                <img src="/assets/icons/icn-bubble.svg">
            </a>
            <a *ngIf="!isLoggedIn" (click)="login()" class="button--menu--mobile">
                <img src="/assets/icons/icn-login.svg">
            </a>
            <a (clickOutside)="isProfileDropdownOpened = false" (click)="isProfileDropdownOpened = true" *ngIf="isLoggedIn" class="login-pic">
                <img src="/assets/images/user-picture.png" alt="gurl">
                <div *ngIf="isProfileDropdownOpened" class="navigation__dropdown profile-dropdown language-dropdown" fxLayout="column">
                    <h4>Dashboard</h4>
                    <h4>My Account</h4>
                    <h4 class="last">Log out</h4>
                </div>
            </a>
        </div>
    </div>

</div>
