.wrapper-container {
    width: 940px;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .wrapper-container {
        width: 100%;
        padding: 0 43px;
    }
}

@media only screen and (max-width: 600px) {
    br {
        display: none !important;
    }
    .wrapper-container {
        padding: 0 24px;
    }
}