h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #FFDFBA;
}

h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #014593;
}

h4 {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    color: #AB9A88;
}

.button--primary {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #014493;
}

.button--menu {
    font-family: Open Sans;
    font-size: 13px;
    line-height: 16x;
    color: #014593;
}

.login-text {
    font-family: Open Sans;
    font-size: 10px;
    line-height: 20px;
    color: #014593;
}

.login-name {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 20px;
    color: #014593;
}

nav {
    ol {
        li, a {
            cursor: pointer;
            font-family: Open Sans;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                text-shadow: 0px 0px 1px #FFFFFF;
            }
        }
    }
}

p {
    font-family: Open Sans;
    font-size: 21px;
    line-height: 30px;
    color: #014593;
}

.link {
    font-family: Open Sans;
    font-size: 13px;
    line-height: 16px;
    color: #014593;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 48px;
        line-height: 50px;
    }
    h4 {
        font-size: 14px;
        line-height: 40px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 375px) {
    .button__menu {
        font-size: 16px;
        line-height: 19px;
    }
}