<div class="home">
    <div class="home--banner">
        <div class="wrapper-container">
            <app-navigation></app-navigation>
            <h1>Welcome to Budapest!</h1>
            <h2>
                Budapest Things to do - detailed info about things to do: 
                sightseeing, events, restaurants, 
                nightlife, shopping, pubs, bars, casinos and more...
            </h2>
            <button class="button--primary">Start Booking!</button>
        </div>
    </div>
</div>