<app-navigation></app-navigation>

<div class="home">
    <div class="home--banner">
        <div class="wrapper-container">
            <div fxLayout="column">
                <h1>Welcome to Budapest!</h1>
                <h2>
                    Budapest Things to do - detailed info about things to do: <br>
                    sightseeing, events, restaurants, nightlife, shopping, pubs, bars, <br>
                    casinos and more...
                </h2>
                <button class="button--primary">Start Booking!</button>
            </div>
        </div>
    </div>
    <div class="wrapper-container home-content" fxLayout="row">
        <img src="/assets/images/illustration.png" alt="budapest-illustration">
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed urna arcu, tempus nec urna non, lacinia vehicula dolor. 
                Integer pellentesque leo tristique nibh tristique posuere. 
            </p>
        </div>
    </div>
    
</div>


